#logout{
  float: right;
  width: 100px;
}

.logout{
  float: right;
  margin-right: 20px;
  display: inline-block;
  width: 100px;
}

#home{
  height: 100px;
  width: auto;
}

.todo{
  margin-right: 20px;
  display: inline-block;
  width: 200px;
}

img{
  width: 200px;
}
