#logo{
  display: inline-block;
  width: 250px;
  height: 250px;
}

#links{
  margin-top: 30px;
}

a{
  margin: 10px;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.new{
  margin-right: 20px;
  display: inline-block;
  width: 100px;
}

.logout{
  margin-right: 20px;
  display: inline-block;
  width: 100px;
}

.edit{
  margin-right: 20px;
  display: inline-block;
  width: 100px;
}

.implement{
  margin-right: 20px;
  display: inline-block;
  width: 100px;
}

.delete{
  margin-right: 20px;
  display: inline-block;
  height: 100px;
  width: 124.56px;
}

#link{
  margin: 0px;
  height: 100px;
  width: auto;
}

#headings{
  margin: 10px;
}

#heading{
  margin-left: 2%;
  margin-right: 10%;
}
